<h1>Login</h1>
<%= form_tag("/login", method: "post")%>
<label for="email">E-mail</label><br>
<input type="text" name="user[email]" value=""><br></br>
<label for="password">Password</label><br>
<input type="text" name="user[password]" value=""><br></br>
<input type="submit" name="Login" value="Login">
<%=link_to "Go Back", root_path%>
