<h1><%=@event.title%></h1>
<h4>Attendees:</h4>

<%@rsvps.each do |rsvp|%>
<p><%=link_to rsvp.user.first_name, user_path(rsvp.user)%> - <%=rsvp.comment%></p>
<%end%>

<p><%=link_to "Return to Event", event_path(@event), class: 'btn btn-primary'%></p>
