<h1>Hello <%=@user.first_name%></h1>

<%=link_to "Edit Info", edit_user_path(@user)%>

<h4>You're attending:</h4>
<%@user.events.each do |event|%>
<p><%=link_to event.title, event_path(event)%></p>
<%end%>

<h4>Organized Events Below</h4>
<%@user.organized_events.each do |event|%>
<p><%=link_to event.title, event_path(event)%></p>
<%end%>
