<h1>Hello <%=@user.first_name%></h1>

<%=link_to "Edit Info", edit_user_path(@user)%>

<div class="row">
  <div class="column">

    <h4>Your Events:</h4>
      <%@user.events.each do |event|%>
        <p><%=link_to event.title, event_path(event), class: "my-events", "data-id": event.id%><%= " (Admin)" if event.organizer == current_user%></p>
      <%end%>

  </div>

  <div id="selectedEvent" class="column">

  </div>
</div>
<script id="event-template" type="text/x-handlebars-template">
  <h4>{{title}}</h4>
  <p>Location: {{address}}</p>
  <p>Time: {{eventTime}}</p>
  <p>Date: {{date}}<p>
  <p><a href="/events/{{id}}">See Event Page</a></p>
</script>
